.h1{
	font-size:30pt;
	color:violet;
	font-family:Monotype Corsiva;
}
.p1{
	font-size:18pt;
	color:#ee82ee;
	font-family:Monotype Corsiva;

}

.p2{
	font-size:18pt;
	color:#ee82ee;
	font-family:Monotype Corsiva;
}

.p3{
	font-size:18pt;
	color:blue;
}

.p4{
	font-size:18pt;
	color:#ee82ee;
	font-family:Monotype Corsiva;

}

.p5{
	font-size:20pt;
	color:violet;
	font-family:Monotype Corsiva;
}