.h1{
	font-size:30pt;
	color:blue;
	font-family:Monotype Corsiva;
}

.p1{
	font-size:20pt;
	color:black;
	font-family:Monotype Corsiva;

}

.p2{
	font-size:20pt;
	color:black;
	font-family:Monotype Corsiva;
}

.p3{
	font-size:18pt;
	color:blue;
}
.h2{
	font-size:30pt;
	color:purple;
	font-family:Cambria;
}
.p4{
	font-size:20pt;
	color:black;
	font-family:Cambria;

}

.p5{
	font-size:20pt;
	color:black;
	font-family:Cambria;
}

.p6{
	font-size:18pt;
	color:purple;
}

.h3{
	font-size:30pt;
	color: violet;
	font-family:Constantia;
}
.p7{
	font-size:20pt;
	color:black;
	font-family:Constantia;

}

.p8{
	font-size:20pt;
	color:black;
	font-family:Constantia;
}

.p9{
	font-size:18pt;
	color:violet;
	}
.h4{
	font-size:30pt;
	color: mediumseagreen;
	font-family:Verdana;
}
.p10{
	font-size:20pt;
	color:black;
	font-family:Verdana;

}

.p11{
	font-size:20pt;
	color:black;
	font-family:Verdana;
}

.p12{
	font-size:18pt;
	color:mediumseagreen;
	}